@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #fdf0e2;
  --color-secondary: #c08521;
  --color-on-secondary: #fdf0e2;
  --color-tertiary: #41372c;

  --font-inria-sans: "Inria Sans", sans-serif;
}
